ENVIRONMENT=test   # values: production, staging, test (or any)
SECRET_KEY=mi-secret-key
DEBUG=True
DB_PASS=password-user-db
HOSTNAME_PROTOCOL=http://my.domain.test:8000
EMAIL_HOST_PASSWORD=my-email-password
BROKER_URL=amqp://my-user:my-password@localhost:5672//
GOOGLE_MAPS_API_KEY=my-api-key
TWILIO_ACCOUNT_SID=my-account-sid
TWILIO_AUTH_TOKEN=my-auth-token
TWILIO_SERVICE_SID=my-service-sid
STRIPE_PUBLIC_KEY=my-api-key
STRIPE_SECRET_KEY=my-secret-key
ACCURATE_CLIENT_ID=my-client-id
ACCURATE_CLIENT_SECRET=my-client-secret
HUBSPOT_API_KEY=my-api-key
## optionals:
#DB_NAME=my-db-name   # nabidb by default
#DB_USER=my-db-user   # postgres by default
#DB_HOST=my-host   # localhost by default
#DB_PORT=1234   # 5432 by default
#EMAIL_HOST=smtp.gmail.com   # smtp.sendgrid.net by default
#EMAIL_HOST_USER=my-email-user   # apikey by default
#EMAIL_PORT=123   # 587 by default
#REST_PAGE_SIZE=3   # 20 by default
#AWS_ACCESS_KEY_ID=my-key
#AWS_SECRET_ACCESS_KEY=my-secret
#AWS_REGION_NAME=my-region
#AWS_STORAGE_BUCKET_NAME=my-bucket-name
