# python compiled files
__pycache__/
*.pyc

# virtual environment
venv
.venv

# IDE configuration directory
.idea
.code

# project configuration
local_settings.*
.env

# local db
*.sqlite3

# for project deployment
media
static
private

# testing
coverage.xml
.coverage
htmlcov
TEST-*.xml

# others files
*.log
*.pot
antenv
